{% extends "base.html" %} {% block content %} {% load static %}
<section id="home">
  {% include 'web/includes/header.html' %}
  <section class="spotLight details">
    <section class="detail">
      <h3>Details of {{candidate.first_name}} {{candidate.last_name}}</h3>
      <ul>
        <li>
          <span>First Name</span>
          <h5>{{candidate.first_name}}</h5>
        </li>
        <li>
          <span>Last Name</span>
          <h5>{{candidate.last_name}}</h5>
        </li>
        <li>
          <span>Date of Birth</span>
          <h5>{{candidate.date_of_birth}}</h5>
        </li>
        <li>
          <span>Gender</span>
          <h5>{{candidate.gender}}</h5>
        </li>
        <li>
          <span>Email-id</span>
          <h5>{{candidate.email}}</h5>
        </li>
        <li>
          <span>Mobile Number</span>
          <h5>{{candidate.contact_number}}</h5>
        </li>
        <li>
          <span>Class</span>
          <h5>{{candidate.school_grade}}</h5>
        </li>
        <li>
          <span>Participating Item</span>
          <h5>{{candidate.item}}</h5>
        </li>
      </ul>
    </section>
  </section>
</section>
{% endblock %}
