* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Gordita Regular";
}

ol,
ul {
  list-style: none;
}

del {
  text-decoration: line-through;
}

body {
  font-size: 17px;
  color: #1c2c40;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
}

input,
textarea,
select {
  font-weight: 400;
}

a {
  color: #1c2c40;
}

a:hover,
.submit:hover {
  filter: alpha(opacity = 85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

.thumb {
  display: block;
}

.thumb img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 400;
}

.hidden {
  display: none;
}

br.clear {
  clear: both;
  line-height: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
}

@font-face {
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Regular"),
    url("../fonts/Gordita Regular.woff") format("woff");
}

@font-face {
  font-family: "Gordita Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Medium"), url("../Gordita Medium.woff") format("woff");
}

@font-face {
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Bold"), url("../Gordita Bold.woff") format("woff");
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

b {
  font-weight: 800;
}

header {
  height: 100px;
  padding: 0 80px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a {
  display: block;
}

header a.login,
.logout {
  background-color: #06323f;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
}

#home .spotLight {
  height: calc(100vh - 100px);
  color: #fff;
  text-align: center;
  background-image: url(../images/art1.jpg);
  /* background-repeat: no-repeat; */
  background-size: contain;
}

#home .spotLight section.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .spotLight section.spotlight h2 {
  font-size: 50px;
  text-transform: uppercase;
  /* text-align: center; */
  margin-bottom: 1%;
  display: inline-block;
}

#home .spotLight section.spotlight p {
  font-size: 25px;
  margin-bottom: 20px;
}

#home .spotLight section.spotlight a.register {
  font-size: 23px;
  padding: 17px;
  background-color: aliceblue;
  border-radius: 10px;
  border: 2px solid aliceblue;
  outline: 2px solid #000;
  outline-offset: -5px;
}
