* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Mogra";
}

ol,
ul {
  list-style: none;
}

del {
  text-decoration: line-through;
}

body {
  font-size: 17px;
  color: #1c2c40;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
}

input,
textarea,
select {
  font-weight: 400;
}

a {
  color: #1c2c40;
}

a:hover,
.submit:hover {
  filter: alpha(opacity = 85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

.thumb {
  display: block;
}

.thumb img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 400;
}

.hidden {
  display: none;
}

br.clear {
  clear: both;
  line-height: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
}

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.woff2") format("woff2"),
    url("../fonts/Pacifico-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mogra";
  src: url("../fonts/Mogra-Regular.woff2") format("woff2"),
    url("../fonts/Mogra-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

b {
  font-weight: 800;
}

header {
  height: 100px;
  padding: 0 80px;
  background-color: rgb(249, 245, 249);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a {
  display: block;
}
header h1 a h3 b {
  color: rgb(20, 120, 186);
  font-size: 40px;
}

header a.login,
.logout {
  /* background-color: rgb(20, 120, 186); */
  background-color: rgb(112, 178, 222);
  padding: 13px 30px;
  font-size: 22px;
  font-weight: 900;
  color: rgb(249, 245, 249);
  text-align: center;
  border-radius: 8px;
  display: inline-block;
}

#home .spotLight {
  height: calc(100vh - 100px);
  color: rgb(20, 120, 186);
  text-align: center;
  background-image: url(../images/art2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#home .spotLight section.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .spotLight section.spotlight h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 800;
  /* text-align: center; */
  margin-bottom: 1%;
  display: inline-block;
}
#home .spotLight section.spotlight h2 span {
  font-size: 90px;
  font-weight: 800;
}

#home .spotLight section.spotlight p {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 800;
}

#home .spotLight section.spotlight a.register {
  font-size: 23px;
  padding: 17px;
  /* background-color: rgb(249, 245, 249); */
  background-color: rgb(112, 178, 222);
  /* color: rgb(20, 120, 186); */
  color: rgb(249, 245, 249);
  font-weight: 800;
  border-radius: 10px;
  /* border: 1px solid rgb(20, 120, 186); */
}
#home .spotLight section.spotlight small {
  display: block;
  margin-top: 10px;
}
