{% extends "base.html" %} {% load static %} {% block content %}
<section id="home">
  {% include 'web/includes/header.html' %}
  <section class="spotLight">
    <section class="wrapper">
      <section class="spotlight">
        <h2>
          <span>Arts Fest</span> <br />
          Registration
        </h2>
        <p>Haven't you registered yet?</p>
        <a href="{% url 'registered:submit' %}" class="register"
          >Register Here</a
        >
      </section>
    </section>
  </section>
</section>
{% endblock %}
