{% extends "user_base.html" %} {% block content %} {% load static %}
<section class="form_container register">
  <div class="top">
    <h5>Register your Application</h5>
  </div>
  <div class="bottom">
    <form class="ajax redirect" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="input_container">
        <label for="{{form.first_name.id_for_label}}">
          {{form.first_name.label}}
        </label>
        {{form.first_name}}
      </div>
      <div class="input_container">
        <label for="{{form.last_name.id_for_label}}">
          {{form.last_name.label}}
        </label>
        {{form.last_name}}
      </div>
      <div class="input_container">
        <label for="{{form.date_of_birth.id_for_label}}">
          {{form.date_of_birth.label}}
        </label>
        {{form.date_of_birth}}
      </div>
      <div class="input_container">
        <h5 for="id_username">Gender</h5>
        {% for gender in form.gender %}
        <label for="{{gender.id_for_label}}"> {{gender.label}}</label>
        {{gender}} {% endfor %}
      </div>
      <div class="input_container">
        <label for="{{form.email.id_for_label}}"> Email </label>
        {{form.email}}
      </div>
      <div class="input_container">
        <label for="{{form.contact_number.id_for_label}}"> Mobile No. </label>
        {{form.number}}
      </div>
      <div class="input_container">
        <label for="{{form.degree.id_for_label}}"> Class </label>
        {{form.class_}}
      </div>
      <div class="input_container">
        <label for="{{form.item.id_for_label}}"> Participating Item </label>
        {{form.item}}
      </div>
      <div class="submit_container"><button type="submit">Submit</button></div>
    </form>
  </div>
</section>
{% endblock %}
