{% extends "user_base.html" %} {% block content %} {% load static %}
<section class="form_container register">
  <div class="top">
    <h4>ARTS FEST</h4>
    <h5>Register your Application</h5>
  </div>
  <div class="bottom">
    <form
      action="{% url 'registered:submit' %}"
      class="ajax redirect"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="input_container">
        <label for="{{form.first_name.id_for_label}}">
          {{form.first_name.label}}
        </label>
        {{form.first_name}}
        <!-- <input type="text" name="first_name" /> -->
      </div>
      <div class="input_container">
        <label for="{{form.last_name.id_for_label}}">
          {{form.last_name.label}}
        </label>
        {{form.last_name}}
        <!-- <input type="text" name="last_name" /> -->
      </div>
      <div class="input_container">
        <label for="{{form.date_of_birth.id_for_label}}">
          {{form.date_of_birth.label}}
        </label>
        {{form.date_of_birth}}

        <!-- <input type="text" name="date_of_birth" /> -->
      </div>
      <div class="input_container">
        <label for="{{form.gender.id_for_label}}">
          {{form.gender.label}}
        </label>
        {{form.gender}}
      </div>
      <div class="input_container">
        <label for="{{form.email.id_for_label}}"> Email </label>
        {{form.email}}
        <!-- <input type="email" name="email" /> -->
      </div>
      <div class="input_container">
        <label for="{{form.contact_number.id_for_label}}"> Mobile No. </label>
        {{form.contact_number}}
        <!-- <input type="text" name="contact_number" /> -->
      </div>
      <div class="input_container">
        <label for="{{form.school_grade.id_for_label}}"> Class </label>
        {{form.school_grade}}
      </div>
      <div class="input_container">
        <label for="{{form.item.id_for_label}}"> Participating Item </label>
        {{form.item}}
      </div>
      <div class="submit_container"><button type="submit">Submit</button></div>
    </form>
  </div>
</section>
{% endblock %}
