<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Registration Form</title>
    <link
      rel="stylesheet"
      href="{% static './css/style.css' %}"
      type="text/css"
    />
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static './images/icons/blog-logo.svg' %}"
    /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script src="{% static './js/jquery-3.6.0.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static './js/script.js' %}"></script>
    <!-- <script src="{% static './js/ckeditor.js' %}"></script> -->
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
