{%extends "users/user_base.html" %} {% load static %} {% block content %}
<section class="form_container">
  <div class="top">
    <h5>Login with your registered username and password.</h5>
  </div>
  <div class="bottom">
    <form action="" method="post">
      {% csrf_token %}
      <div class="input_container">
        <label for="id_username"> Username </label>
        <input id="id_username" name="username" type="text" />
      </div>
      <div class="input_container">
        <label for="id_password"> Password </label>
        <input id="id_password" name="password" type="password" />
      </div>
      <div class="submit_container">
        {% if error %}
        <p class="error-message">{{message}}</p>
        {% endif %}
        <button type="submit">Login</button>

        <a href="{% url 'users:signup' %}">Create Account</a>
      </div>
    </form>
  </div>
</section>
{% endblock %}
