{%extends "user_base.html" %} {% load static %} {% block content %}
<section class="form_container signup">
  <div class="top">
    <h5>Signup</h5>
  </div>
  <div class="bottom">
    <form action="" method="post">
      {% csrf_token %}
      <div class="signup">
        {% for field in form %}
        <div class="input_container signup">
          <label for="{{field.id_for_label}}"> {{field.label}} </label>
          {{field}}
        </div>
        {% endfor %}
      </div>
      <div class="submit_container">
        {% if error %}
        <p class="error-message">{{message}}</p>
        {% endif %}
        <button type="submit">Create Account</button>

        <a href="{% url 'users:login' %}">Login</a>
      </div>
    </form>
  </div>
</section>
{% endblock %}
