{% extends "base.html" %} {% load static %} {% block content %}
<section id="home">
  {% include 'web/includes/header.html' %}
  <section class="spotLight">
    <section class="wrapper logged_in">
      <section class="spotlight">
        <h3>List of Registered Students</h3>
        <div class="container">
          <table class="table">
            <thead>
              <tr class="thead">
                <th><span>Name</span></th>
                <th><span>Class</span></th>
                <th><span>Participating Item</span></th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for participant in participants %}
              <tr class="tbody">
                <td>
                  <a
                    href="{% url 'web:details' id=participant.id %}"
                    class="name"
                    >{{participant.first_name}} {{participant.last_name}}</a
                  >
                </td>
                <td>
                  <span>{{participant.school_grade}}</span>
                </td>
                <td>
                  <span class="item">{{participant.item}}</span>
                </td>
                <td class="edit" style="width: 20%">
                  <a
                    href="{% url 'registered:edit' id=participant.id %}"
                    class="table-link reload"
                  >
                    <div class="img">
                      <img src="{% static 'images/pen.png' %}" />
                    </div>
                  </a>
                  <a
                    href="{% url 'registered:delete' id=participant.id %}"
                    class="action-button reload"
                  >
                    <div class="img">
                      <img src="{% static 'images/delete.png' %}" />
                    </div>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </section>
  </section>
</section>
{% endblock %}
